body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
span {
  color: #2e2f42;
}
.adress-style {
  font-style: normal;
}
.links-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.links-nav:hover {
  color: #404bbf;
}
.links-nav:focus {
  color: #404bbf;
}
.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover {
  color: #404bbf;
}
.contacts-link:focus {
  color: #404bbf;
}
.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
}
.headline {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.clicker {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.clicker:hover {
  background-color: #404bbf;
}
.clicker:focus {
  background-color: #404bbf;
}
.headline-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-three {
  background-color: #f4f4fd;
}
.headline-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.image-list-item {
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
}
.span-footer {
  color: #f4f4fd;
}
.paragraph-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.top-bottom {
  border-bottom: 1px solid #e7e9fc;
}
.container-one {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link-container {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.list-address {
  display: flex;
  gap: 40px;
}
